h3{
    color: rgb(238, 255, 7);
}

h4{
    color: rgb(243, 0, 0);
}
.Header{
    background: linear-gradient(to right, #ffff00, red);
    display:flex;
    justify-content: space-evenly; 
     
    
}
h2,li{text-align: center;
    color: #cc00ff;}
    
    .Menu{
        display:flex;
        justify-content: space-between;  
        margin-right: 30px;
    }

    .Grid{
        display:flex;
      flex-wrap:wrap;
     justify-content: space-evenly;
     color: #b0e0e6;
    }
    a:link{
        color:white
        }
        
        a:visited{
            color:#FFFFFF
        }
        
        .Item{
        position: relative;
        
        
        }
        
        
        .Item:hover{
       transform: scale(1.3);
        
        }